.container-accordion {
    border : 1px solid #ccc;
    border-radius : 5px;
}

.form-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn-call-fct {

}

.btn-read-fct {

}